
@model IEnumerable<FormBuilderApp.Models.Form>

@{
    ViewBag.Title = "Form Details";
}

<h2>@ViewBag.Name</h2>

@foreach(string s in ViewBag.Output)
{
    <h4>@s</h4>
}

<button type="button" onclick="location.href='@Url.Action("AcceptForm", "SuperUser", new { id = ViewBag.Id})'">Accept Form</button>

<button type="button" onclick="location.href='@Url.Action("DenyForm", "SuperUser", new { id = ViewBag.Id})'">Deny Form</button>