@{
    ViewBag.Title = "User Form";
}

<h2>@ViewBag.Title</h2>

@* DUMMY page*@
<form method="post" action="/home/DummyForm">
    <div class="form-horizontal">

        @* Three Textfields *@
        <div class="form-group">
            <label for="name" class="control-label col-md-2">Name:</label>
            <div class="col-md-10">
                <input type="text" id="name" name="name" class="form-control" />
            </div>
        </div>

        @*Radio Buttons*@
        <div class="form-group">
            <label for="Radio1" class="control-label col-md-2">Gender: </label>
            <input type="radio" id="male" name="gender" value="Male" checked />
            Male
            <br />
            <input type="radio" id="female" name="gender" value="Female" />
            Female

        </div>

        <div class="form-group">
            <label for="address" class="control-label col-md-2">Address:</label>
            <div class="col-md-10">
                <input type="text" id="address" name="address" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="address2" class="control-label col-md-2">Address 2:</label>
            <div class="col-md-10">
                <input type="text" id="address2" name="address2" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="control-label col-md-2">City:</label>
            <div class="col-md-10">
                <input type="text" id="city" name="city" class="form-control" />
            </div>
        </div>

        @* The Drop-Down List*@
        <div class="form-group">
            <label for="state" class="control-label col-md-2">State: </label>
            <div class="col-md-10">
                <select class="form-control" name="state">
                    <option value="">State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
        </div>

        
           

        @* Checklist *@
        <br />
        <div class="form-group">
            <label for="checkbox" class="control-label col-md-2">Checklist: </label>
            <div class="col-md-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="sports" value="swimming" />swimming <br />
                    </label>
                    <label>
                        <input type="checkbox" name="sports" value="curling" />curling <br />
                    </label>
                    <label>
                        <input type="checkbox" name="sports" value="bullriding" />bullriding <br />
                    </label>
                    <label>
                        <input type="checkbox" name="sports" value="flying" />flying <br />
                    </label>
                    <label>
                        <input type="checkbox" name="sports" value="fishing" />fishing <br />
                    </label>
                </div>
            </div>
        </div>
        
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a href="/home/index">Back to Form List</a>
</div>
