@model IEnumerable<FormBuilderApp.Models.Form>

@{
    ViewBag.Title = "Review";
}

<h2>@ViewBag.Name</h2>

@Html.Raw(ViewBag.FormHtml)

@Html.ActionLink("Accept Form", "Accept", new { Controller = "SuperUser", id = Model.Id})
 |
@Html.ActionLink("Deny Form", new { Controller = "SuperUser", id = Model.Id})




