
@model IEnumerable<FormBuilderApp.Models.Form>

@{
    ViewBag.Title = "Form Details";
}

<h2>@ViewBag.Name</h2>

@foreach(string s in ViewBag.Output)
{
    <h4>@s</h4>
}


    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AcceptForm", "SuperUser", new { id = ViewBag.Id})'">Accept</button>

        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" onclick="callModal()">Deny</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Deny this Form?</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="/superuser/denyform">
                            <div class="form-group">
                                <input type="hidden" name="Id" value="@ViewBag.Id" />
                                <label for="reason">Reason for Denial</label>
                                <input name ="reason" type="text" class="form-control"
                                       id="denyReason" placeholder="(Missing Information, Invalid Response, etc...)" />
                            </div>
                            <button type="submit" class="btn btn-danger">Deny Form</button>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </div>

