@model IEnumerable<FormBuilderApp.Models.Form>

@{
    ViewBag.Title = "FillOut";
}
@section JavaScript 
{
<script src="~/js/UserSubmit.js"></script>id
}

<h2>@ViewBag.Name.</h2>

@Html.Raw(ViewBag.FormHtml) 
<input type="hidden" id="FormID" name="FormID" value="@ViewBag.Id" />
@Html.Raw(ViewBag.FormHtml)
