@model IEnumerable<FormBuilderApp.Models.Form>

@{
    ViewBag.Title = "FillOut";
}

<h2>@ViewBag.Name.</h2>

<input type="hidden" id="FormID" name="FormID" value="@ViewBag.Id" />

<form name="genform">
    @Html.Raw(ViewBag.FormHtml)
</form>
